#containerHoursForm{

    width: 90%;
    margin: 0 auto;
    left: 0px;
    right: 0px;
}

#hoursFormHeader{
    padding: 5px;
}

#tblEmpsToProcessTable th{

    text-align: left;
    padding: 5px;
    font-weight: normal;
    background-color: #595e63 ;
    color: white;
}

#tblEmpsToProcessTable td{

    padding: 5px;
}

#tblEmpsToProcessTable tr:nth-child(odd) {
    background-color:#c7d4dd;
}
#tblEmpsToProcessTable tr:nth-child(even) {
    background-color:#ffffff;
}

#tblEmpsToProcessTable tr:hover{

    background-color:#eedda4;
}

/* #schedulesHeader{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 500px;
    overflow-x: auto;
}

.schedulesHeaderSubDivs{

    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(195, 195, 195);
} */

/* #schedulesDiv{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 500px;
    overflow-x: auto;
} */

/* .dayDiv{

    padding: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(195, 195, 195);
} */