

#hrsFormDetContainer{

    position: relative;
}

#hrsFormDetHeader{

    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: 20% 20% 10% 20% 10% 20%;
    grid-template-rows: minmax(100px, auto);
    width: 90%;
    margin: 15px auto;
    left: 0;
    right: 0; 
    border-width: 1px;
    /* border-color: rgb(90, 90, 90); */
}

#hrsCodes{

    display: grid;
    grid-template-columns: 1fr 1fr;
}

#hrsFormDetBody{

    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: 1fr;
    width: 90%;
    margin: 15px auto;
    left: 0;
    right: 0; 
    border-width: 1px;

}

#hrsFooterDiv1{
  
    display: grid;
    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: 15px auto;
    left: 0;
    right: 0; 
}

#hrsFooterDiv1 input{
    border-style: none;
    font-weight: bold;
}

#hrsFooterDiv2{

    width: 90%;
    margin: 15px auto;
    left: 0;
    right: 0; 

}

.two{

    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.three, .four, .five, .six{

    display: grid;
    grid-template-rows: repeat(3, 1fr);  
}

.myBorder{

    border-style: solid;
    border-width: 1px;
    border-color: rgb(161, 161, 161);
}

.orangeBG{
    background-color: rgb(229, 194, 128);
}

#hrsFormDetHeader p, #hrsFormDetHeader input{

    margin: 5px;
}

#hrsFormDetHeader input{

    width: 90%;
    background-color: transparent;
    border-style: none;
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}

#hoursTable{

    width: 100%;
    border-collapse: collapse;

}

#hoursTable td, #hoursTable th{

    border-style: solid;
    border-width: 1px;
    border-color: rgb(59, 59, 59); 
    margin: 0px;
    border-spacing: 0px;
    text-align: center;
    padding: 2px;
}

.boldStyle{

    font-weight: bold;
}

#hoursTable td{

    transition: background-color 0.2s;
}

#hoursTable td:hover{

    background-color: #7d7d7d;
    cursor: pointer;
    color: #fff;
    
}

#hrsEditDiv{

    position: absolute;
    top: 30%;
    background-color: rgb(195, 195, 195);
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-radius: 5px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 35%;
}

#greyBackground{

    position: absolute;
    top: 0px;
    /* margin: 0px; */
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.2;
}

#hrsEditDivSub1{

    position: relative;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 4fr 1fr;
    top: 20px;
    padding: 15px;
    overflow:auto;
}

#hrsEditDivFields{

    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
}

#hrsEditDivButtons{

    text-align: right;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }

#hrsEditDivSub1 input, #hrsEditDivSub1 label{

    margin: 5px;
    
}








