*{
    margin: 0px;
    padding: 0px;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topMenu{
    background-color: #eb4034;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#appName{

    color: beige;
}

#tmColumn2{

    text-align: right;
}

.myButtons{

    min-width: 80px;
    padding: 5px;
}

p{

    margin-bottom:3px
}

