*{
    margin: 0px;
    padding: 0px;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

#topMenu{
    background-color: #eb4034;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#appName{

    color: beige;
}

#tmColumn2{

    text-align: right;
}

.myButtons{

    min-width: 80px;
    padding: 5px;
}

p{

    margin-bottom:3px
}

.tblResults th{

    text-align: left;
    padding: 5px;
    font-weight: normal;
    background-color: #595e63 ;
    color: white;
}

.tblResults td{

    padding: 5px;
}

.tblResults tr:nth-child(odd) {
    background-color:#c7d4dd;
}
.tblResults tr:nth-child(even) {
    background-color:#ffffff;
}

.tblResults tr:hover{

    background-color:#eedda4;
}

